<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />

<link href="ui/css/base/reset.css" rel="stylesheet" type="text/css" />
<link href="ui/css/base/general.css" rel="stylesheet" type="text/css" />

<link href="ui/css/buttons.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 8]><link href="ui/css/buttons-ie.css" rel="stylesheet" type="text/css" /><![endif]-->

<title>Buttons</title>
</head>

<body>

	<div class="body">
		<h1>Buttons examples</h1>
		<div class="clearfix">
			<div class="column">
				<h2>Similar background</h2>
				<dl>
					<dt>Input</dt>
					<dd>
						<span class="btnInput">
							<span><input type="button" value="Some Button" /></span>
						</span><span class="btnInput">
							<span><input type="button" value="Some Button" /></span>
						</span> Text Text
					</dd>
					
					<dt>Button</dt>
					<dd>
						<button class="btnButton">
							<div><div>Some Button</div></div>
						</button><button class="btnButton">
							<div><div>Some Button</div></div>
						</button> Text Text
					</dd>
					
					<dt>Link</dt>
					<dd>
						<a href="#" class="btnLink" onclick="return false;"><span>Some Button</span></a> 
						<a href="#" class="btnLink" onclick="return false;"><span>Some Button</span></a> Text Text
					</dd>
				</dl>
			</div><!-- .column -->
			
			<div class="column">
				<h2>Dissimilar background</h2>
				<dl>
					<dt>Input</dt>
					<dd>
						<span class="btnInput2">
							<span><span><input type="button" value="Some Button" /></span></span>
						</span><span class="btnInput2">
							<span><span><input type="button" value="Some Button" /></span></span>
						</span> Text Text
					</dd>
					
					<dt>Button</dt>
					<dd>
						<button class="btnButton2">
							<div><div><div>Some Button</div></div></div>
						</button><button class="btnButton2">
							<div><div><div>Some Button</div></div></div>
						</button> Text Text
					</dd>
					
					<dt>Link</dt>
					<dd>
						<a href="#" class="btnLink2" onclick="return false;"><span><span>Some Button</span></span></a> 
						<a href="#" class="btnLink2" onclick="return false;"><span><span>Some Button</span></span></a> Text Text
					</dd>
				</dl>
			</div><!-- .column -->
		</div><!-- .clearfix -->
		
		<div class="notes">
			<h4>Кнопки могут вставляться:</h4>
			<ol>
				<li>На один и тот же фон (например только на белый)</li>
				<li>На разный фон (например на белый и чёрный)</li>
				<li>На фон с картинкой (например на градиенте)</li>
			</ol>
			<p>Если первый вариант, то необходимо использовать первый пример, он проще и меньше DOM элементов. Если второй или третий, то второй пример.</p>
			<p>Почему такое разделение?</p>
			<p>Потому, что если у пользователя отключены картинки он может увидеть белый текст кнопки на белом фоне. Нам необходимо на что-то задать фоновый цвет кнопки. В случае с прозрачными краями нам необходим ещё один DOM элемент, на который мы сможем повесить фоновый цвет.</p>
			<p>Если необходимо задать ширину кнопке, то она задаётся на самый последний тэг, например &lt;input /&gt;.</p>
		</div>
	</div><!-- .body -->

</body>
</html>
