<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />

<link href="ui/css/base/reset.css" rel="stylesheet" type="text/css" />
<link href="ui/css/base/general.css" rel="stylesheet" type="text/css" />

<link href="ui/css/catalog.css" rel="stylesheet" type="text/css" />

<title>Catalog items. Vertical align in div.</title>
</head>

<body>

	<div class="body">
		
		<div class="catalog">
			<ins>
				<h3><a href="#">Catalog item 1</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images1.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>fds fsadf dsfdsaf sda fdsf dsa fdsafdsa fds fadsfd fdafdsaf asdf sdfadsfdsafsda fasdfsadf  asdfasdfsadaf asd fsdfasdf  sda fsadf asdfsd fasdfsdaf asdfas dfsd fasdf as  dfas df sdfas dfs dfasdfsdfsadfsad...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 2</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images2.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>adfsdfasdfasdf asdfasd fasd gghghjfgjfdggd g g dfdg sgfdgwsergfdhgh jbcvb df gdfg fg  dsagfergfdgf gdsfgfghfhdf dsf dsf das fasd fasdfsadf sad fasdf sda f ...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 3</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images3.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>fads dsfsa df dsfasdf hgf hjgfhfdshgfhgjkhkhj gkfhdfghfghg h dfgh  fsdfasd fsadfdg fdghgfhjgjfgfdgdsf  gf gdfgf dfg dfg fdg fdsgfd  g dfdsfsadfs dfsadfsd f adsfsdfs adfsad fsadfssd df sdfsdf sdfadfsdfa...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 4</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images4.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>jsdfklj dfskadljf kdhg iepfh dskgh kdsfjd  ghjfg aklfj skldf [qjksd jfkdsjf kalsdjf kdsjhgvmxc znvjaks dhfjsdfd sajfhjkadsfh djfh djkfh dasjfhiuqhwuf hdssjkfh d kjfh suifh gdjff hdjkfh akjfh jkdsfhasdkj fh kjfdhasjkld fhajksdf hkjadshfdsakjfh...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 5</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images5.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>fds fsadf dsfdsaf sda fdsf dsa fdsafdsa fds fadsfd fdafdsaf asdf sdfadsfdsafsda fasdfsadf  asdfasdfsadaf asd fsdfasdf  sda fsadf asdfsd fasdfsdaf asdfas dfsd fasdf as  dfas df sdfas dfs dfasdfsdfsadfsad...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 6</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images6.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>adfsdfasdfasdf asdfasd fasd gghghjfgjfdggd g g dfdg sgfdgwsergfdhgh jbcvb df gdfg fg  dsagfergfdgf gdsfgfghfhdf...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 7</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images1.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>fds fsadf dsfdsaf sda fdsf dsa fdsafdsa fds fadsfd fdafdsaf asdf sdfadsfdsafsda fasdfsadf  asdfasdfsadaf asd fsdfasdf  sda fsadf asdfsd fasdfsdaf asdfas dfsd fasdf as  dfas df sdfas dfs dfasdfsdfsadfsad...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 8</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images2.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>adfsdfasdfasdf asdfasd fasd gghghjfgjfdggd g g dfdg sgfdgwsergfdhgh jbcvb df gdfg fg  dsagfergfdgf gdsfgfghfhdf...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins><ins>
				<h3><a href="#">Catalog item 9</a></h3>
				<div class="itemImage">
					<a href="#"><img src="ui/pic/catalog/images3.jpg" alt="" /></a>
					<i><!-- --></i>
				</div>
				<p>fads dsfsa df dsfasdf hgf hjgfhfdshgfhgjkhkhj gkfhdfghfghg h dfgh ...</p>
				<div class="add"><a href="#">Add to cart</a></div>
			</ins>
		</div><!-- .catalog -->
		
		<div class="notes">
			<ul>
				<li>При изменении размеров окна, элементов каталога в одной строке будет столько, сколько вмещается.</li>
				<li>Элементы каталога можно выровнять по цетру, задав на обёртку text-align:center.</li>
				<li>Высота элементов может быть разной и всё равно будут соблюдаться строки, что не получится реализовать с помощью float.</li>
				<li>Картинки товаров выравниваются по центру без таблицы! Но есть ограничение на максимальную высоту. В данном примере изображение не может привышить 140px.</li>
			</ul>
		</div><!-- .notes -->
		
	</div><!-- .body -->

</body>
</html>
