<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />

<link href="ui/css/base/reset.css" rel="stylesheet" type="text/css" />
<link href="ui/css/base/general.css" rel="stylesheet" type="text/css" />

<link href="ui/css/transparent.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 8]><link href="ui/css/transparent-ie.css" rel="stylesheet" type="text/css" /><![endif]-->

<title>Transparent block</title>
</head>

<body>

	<div class="body">
		<h1>Transparent block</h1>
		
		<div class="block">
			<h4>
				<i><!-- --></i>
				<span>Автор Вася Пупкин</span>
			</h4>
			<img src="ui/pic/pic.jpg" width="240" height="380" alt="" />
		</div><!-- .block -->
		
		<div class="notes">
			<p>Сложность заключается в том, что если мы повесим прозрачность на блок, то прозрачными будут и все дети этого блока. Чтобы избежать этого мы делаем прозрычным отдельный элеменет, который занимает всё пространство блока родителя.</p>
		</div><!-- .notes -->
		
	</div><!-- .body -->

</body>
</html>
